<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Predicted</title>
</head>
<style>
    .predicted
    {
        text-align: center;
        margin-top: 200px;
    }
    .body
    {
        background-color: rgb(250, 226, 9);
    }
</style>
<body class='body'>
    <div class="predicted">
 <h3  > The note is :<b><u>{{prediction}}</u></b></h3> 
 <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRUpo1HZTcSXuNNmVnAqLOb8rJAluqalr6Sg&usqp=CAU' alt=" The Note is fake" width='500px' height='300px'>

 </div>  
</body>
</html>